* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #222;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px 15px;
}

main {
  width: 500px;
  max-width: 100%;
  padding: 20px;
  border: 1px solid #fff;
  border-radius: 10px;
}

h1 {
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

#todo-form {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 10px;
}

#new-task-input {
  flex-grow: 1;
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
}

#add-task-button {
  background-color: #fff;
  color: #222;
  font-size: 24px;
  font-weight: bold;
  padding: 0px 10px;
  border: none;
  cursor: pointer;
}

#remove-task-button {
  background-color: #222;
  color: #fff;
  padding: 0px 5px;
  cursor: pointer;
}

#remove-task-button:hover {
  background-color: #444;
}

.task {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 13px;
  list-style: none;
  margin-bottom: 5px;
  padding: 10px;
}

.task-container {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 20px;
  }
}
